<footer>
    <div class="container">
      <ul class="foot-link pull-right">
	      <li><a href="{{ site.url }}">Home</a></li>
	      <li><a href="{{ site.url }}/about/">About us</a></li>
	      <li><a href="{{ site.url }}/services/">Services</a></li>
	      <li><a href="{{ site.url }}/careers/">Careers</a></li>
	      <li><a href="{{ site.url }}/contact-us/">Contact Us</a></li>
      </ul>
      <div id="copyright">
      	Copyright <i class="fa fa-copyright"></i> I2Soft Technologies 2010 - 2016 All Rights Reserved.
      </div>
    </div>
</footer>

{% if site.env and site.env == "prod" %}
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-80238646-1', 'auto');
  ga('send', 'pageview');

</script>
{% endif %}