<header>
  <div class="container">
    <ul class="top-link pull-right">
      <li><a href="{{ site.url }}">Home</a></li>
      <li><a href="{{ site.url }}/about/">About us</a></li>
      <li><a href="{{ site.url }}/services/">Services</a></li>
      <li><a href="{{ site.url }}/clients/">Clients</a></li>
      <li><a href="{{ site.url }}/projects/">Projects</a></li>
      <li><a href="{{ site.url }}/contact-us/">Contact Us</a></li>
    </ul>
    <div id="logo-container">
      <a href="{{ site.url }}">
        <div id="brand-logo"></div>
      </a>
    </div>
  </div>
</header>