@import "home";
@import "post";

.page {
	h1 {
		color: #505050;
	    margin-bottom: 20px;
	    font-size: 2.5em;
	}
	h3 {
		color: #505050;
	    margin-bottom: 20px;
	    font-size: 1.5em;
	}
	p {

	}
	padding: 25px 0px;
	line-height: 2em;
}