<div class="news-badge">
	<div class="title">
		<a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
	</div>
	<div class="news-meta">by 
		<a href="{{ post.url | prepend: site.baseurl }}" itemprop="author">
			{% if post.author %}{{ post.author }} {% else %} {{ site.author }} {% endif %}
		</a> <i class="fa fa-clock-o"></i> <time class="timeago" datetime="{{ post.date }}" itemprop="datePublished">{{ post.date }}</time>
	</div>
	<div class="content">
		{{ post.excerpt | strip_html | strip_newlines | truncate: 160 }}
		<a href="{{ post.url | prepend: site.baseurl }}" class="read-more">read more</a>
	</div>
</div>