<div class="news-badge">
	<div class="title">
		<a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
	</div>
	<div class="news-meta">by 
		<a href="{{ post.url | prepend: site.baseurl }}" itemprop="author">
			{% if post.author %}{{ post.author }} {% else %} {{ site.author }} {% endif %}
		</a> <i class="fa fa-clock-o"></i> <time class="timeago" datetime="{{ post.date }}" itemprop="datePublished">{{ post.date }}</time>
	</div>
	<div class="content">
		Lorem ipsum dolor sit amet, consectetur adipisicing elit. Unde iusto error exercitationem eius velit ut magnam, nobis, nesciunt, et necessitatibus cum. Vero dolorem quaerat, qui aliquid consectetur ullam ab et.
		<a href="{{ post.url | prepend: site.baseurl }}" class="read-more">read more</a>
	</div>
</div>