.section {
	.section-title {
		padding: 8px 15px;
	    background: #e6e6e6;
	    color: #636363;
	    font-weight: bold;
	    font-family: 'Open Sans', sans-serif;
	}
	.section-body {
		padding: 8px 15px;
	}
	background: #FFF;
	border: 1px solid #e6e6e6;
	margin-bottom: 10px;
	padding: 0px;
}